*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    background-color: #09f;
    /* background-color: #303030; */
    height: 20vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.h2{
    font-size: 7rem;
    position: absolute;
}

.border{
    color: #303030;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0px white, -1px 1px 0 white;
}

.wave{
    color: #09f;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave{
    0%, 100%{
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

/* efecto aprendido en https://pokecoder.hashnode.dev/create-a-wavy-text-effect-with-pure-css */

.container{
    width: 100%;
    height: 80vh;
}
.title4titulos{
    text-align: center;
}
.titulos-h{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #303030;
    box-shadow: 1px 2px 3px #303030;
    /* aca di margin 2px arriba 0, 0 right, 40 abajo, 0 izquierda */
    margin: 2px 0px 40px 0px; 
    /* gap es el espaciado entre items, en este caso entre las <h> */
    gap: 0.5rem;
}

footer{
    width: 100%;
    background: #dfdfdf;
    padding: 20px;
    box-shadow: 0px -2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > h6{
    color: #303030;
    text-shadow: #8f8f8f;
    text-align: center;
    font-size: 24px;
}

.photos-logos{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 0px 75px;
}

.photos-logos a img{
    width: 120px;
    aspect-ratio: 3/2;
    object-fit: contain; 
    mix-blend-mode: color-burn;
}

.texto{
    margin: 5px;
    padding: 5px;
    background-color: rgb(189, 248, 248);
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.tabla, th, td{
    margin-left: 5px;
    margin-top: 5px;
    width: 30%;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: rgb(108, 192, 247);
    padding: 2px;
}
